.vlayout_layout, .vlayout_layer {
    height: 100%
}

.vlayout_button {
    user-select: none;
}
.vlayout_button:active {
    filter: brightness(80%);
}

.vlayout_spinner {
    animation: rotate 2s linear infinite;
}
.vlayout_spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite, colors 6s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.vlayout_textField input[type=text] {
    -webkit-appearance: none;
}

.vlayout_layout {
    user-select: none;
}

.vlayout_layout input {
    user-select: text;
}

.vlayout_label span {
    pointer-events: auto;
    user-select: text;
}
